*{
	padding: 0px;
	margin: 0px;
}
a{
	color: black;
}
.head{
	margin:0 auto;
	height: 100px;
	width: 1200px;
	background-color:white;
	position: relative;
}
.head>img{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
.head1{
	float: right;
}
.head1>a>li{
	display: inline-block;
	width: 130px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-weight: bold;
}
.head1>a:hover{
	color: #fe6d00;
}
.box{
	margin: 0px auto;
	width: 1920px;
	height: 500px;
	position: absolute;
	overflow: hidden;
	left: 50%;
	transform: translateX(-50%);
}
.box>img{
	position: absolute;
	top: 150px;
	left: 350px;
}
.slider{
	width: 9600px;
	position: absolute;
	left: -1920px;
	font-size: 0;
}
.slide{
	position: relative;
	display: inline-block;
	width: 1920px;
	height: 500px;
	overflow: hidden;
}
.up{
	position: absolute;
	top: 100px;
	left: 440px;
	color: brown;
}
.mou{
	font-size: 35px;
	color: brown;
}
.pet{
	color: black;
	font-size: 35px;
	opacity: 0.6;
}
.up .english{
	color: brown;
	font-size: 14px;
	margin-bottom: 15px;
}

.big{
	color: orangered;
	font-size: 35px;
}

.slide>img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.down{
	height: 30px;
	width: 1920px;
	background-color: black;
	opacity: 0.3;
	position: absolute;
	bottom: 0;
}
.nav{
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, 0);
}
.nav>li{
	/* top: ; */
	margin-right:20px ;
	display: inline-block;
	background-color: #ccc;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}

#active{
	background: red;
}
.important{
	top:500px ;
	width: 1200px;
	height: 800px;
	position: relative;
	margin: 0 auto;

}

.important1{
	width: 100%;
	top:50px ;
	margin-left: 30px;
	position: relative;
	background-color: black;
}
.img1{
	margin-left: 0px;
	position: absolute;
}
.img2{
	width: 770px;
	height: 262px;
	top: 50px;
	left: 250px;
	margin: 0 auto;
	position: absolute;
}
.important2{
	width: 100%;
	top: 360px;
	left: 278px;
	margin: 0 auto;
	position: absolute;
}
 .important3{
 	width: 100px;
 	height:180px;
	top: 100px;
	left: 0px;
	width:40px ;
	/* margin-right: 0px; */
	position: fixed;
} 
.important3>li{
	position: absolute;
	left: 0;
}
.first{
	left: 0px;
	width: 100px;
	height: 90px;
	list-style-type: none;
	opacity: 0.5;
	background-color: gray;
}
.second{
	width: 100px;
	height: 90px;
	top: 100px;
	list-style-type: none;
	opacity: 0.5;
	background-color: gray;
	
	
}
.important3>ul{
	height: 160px;
	width: 100px;
	list-style-type: none;
	background-color:white;
	position: fixed;
}
.ims{
	margin: 0 auto;
	position: absolute;
} 
.bottom{
    width:100%;
	/* float: right; */
	overflow: hidden;
	position: relative;
	top: 400px;
}
.gray{
	background-color:lightgray;
	width: 100%;
	height: 70px;
}
.black{
	background-color: black;
	width: 100%;
	height: 100px;
	position: relative;
	top: -13px;
	overflow: hidden;
}
.aa{
	font-size: 15px;
	font-weight: 100;
	text-align: center;
	line-height: 50px;
}
.aa>a{
	line-height:70px;
    color: black;
	text-decoration: none;
}
.black>p{
	font-size: 15px;
	line-height: 27px;
	font-weight: 100;
	text-indent:30px;
	text-align: center;
	line-height: 30px;
	color: white;
}