/*
* @Author: JJIXI
* @Date:   2019-12-21 15:19:33
* @Last Modified by:   JJIXI
* @Last Modified time: 2019-12-25 15:43:49
*/
*{
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
.head{
	margin:0 auto;
	height: 100px;
	width: 1200px;
	background-color:white;
	position: relative;
}
.head>img{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
.head1{
	float: right;
}
.head1>a>li{	
	display: inline-block;
	width: 130px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-weight: bold;
}
.head1>a{
	color: #663300;
}
.head1>a:hover{
	color: #fe6d00;
}
.box{
	margin: 0px auto;
	width: 1920px;
	height: 500px;
	position: absolute;
	overflow: hidden;
	left: 50%;
	transform: translateX(-50%);
}
.box>img{
	position: absolute;
	top: 150px;
	left: 350px;
}
.slider{
	width: 9600px;
	position: absolute;
	left: -1920px;
	font-size: 0;
}
.slide{
	position: relative;
	display: inline-block;
	width: 1920px;
	height: 500px;
	overflow: hidden;
}
.slide>img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.up{
	position: absolute;
	top: 135px;
	left: 440px;
	color: brown;
}
.mou{
	font-size: 35px;
	color: brown;
}
.pet{
	color: black;
	font-size: 35px;
	opacity: 0.6;
}
.up .english{
	color: brown;
	font-size: 14px;
	margin-bottom: 15px;
}
.Big{
	color: orangered;
	font-size: 35px;
}

.slide>img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.down{
	height: 30px;
	width: 1920px;
	background-color: black;
	opacity: 0.3;
	position: absolute;
	bottom: 0;
}
.nav{
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, 0);
}
.nav>li{
	display: inline-block;
	background-color: #ccc;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin:0 10px;
	cursor: pointer;
}
#active{
	background: red;
}
.secondhead{
	
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	margin-top: 500px;
}
.secondhead>img{
	float: left;
}
.wupagelist > a{
	color: #333333;
	margin-left: 40px;
	font-size:16px;
	padding: 5px 5px;
}
.wupagelist>a:hover{
	color: #ffffff;
	background-color: #fd0304;
	border-radius: 10px;
}
.right{
	width: 1200px;
	height: 570px;
	margin-left: 150px;
	position: absolute;
}
.right>li{
	width: 220px;
	height: 250px;
	float: left;
	cursor: pointer;
	text-align: center;
	margin: 0 25px 18px 0;
	display: inline;
}
.right>li.active{
	border: 1px; solid #a10000;
}
.petlist{
	width: 1200px;
	height: 800px;
	margin: 0 auto;
	margin-top: 50px;
	overflow: hidden;
}
.petlist li p{
	margin-bottom: 50px;
}
.petlist li img{
	width: 220px;
	height: 210px;
}
#big{
	position:absolute;
	width:563px;
	height:538px;
	border:2px solid #ddd;
	display:none;
}
#big div{
		position:absolute;
		top:0;left:0;
		width:400px;
		height:400px;
		 /* 透明度，filter:alpha(opacity=50) 是IE专用的属性，它不支持opacity属性，为了保证浏览器的兼容性，两个都写*/
/* 		opacity:0.5;
		filter:alpha(opacity=50);
		background:#fff url(img/loading.gif) 50% 50% no-repeat;  */
}
.foot{
	margin: 0px auto;
	height: 50px;
	background-color: #ccc;
}
.foot>p{
	text-align: center;
	line-height: 50px;
}
.footer{
	margin: 0px auto;
	height: 80px;
	background-color: black;
}
.footer>p{
	text-align: center;
	line-height: 40px;
	color: white;
}
.aa> a{
	color: #333333;
	margin-left: 40px;
	font-size:16px;
	padding: 5px 5px;
}
